{% extends 'destructible/base.html' %}

{% block content %}
	<div class="full-width-container">
	<div class="row">
    <div class="offset-by-two eight columns"><div class="pad-top-20"></div><div class="alert-text-back">
	<h5>{{ user_file.hash }} is password protected:</h5>


                <center><form action="{% url 'destructible.views.password_required' file_hash=user_file.hash %}" method="post">
            {% csrf_token %} <!--security keep here! -->
			<p>Enter password:</p>
				<p>{{ form.password }}<br></p>


			   <input class="button-primary" type="submit" value="Submit" autocomplete="false"/></p>
		</form></center>
		</div>	</div></div></div><div class="pad_top-40"></div>

   
{% endblock %}