{% extends "destructible/base.html" %}

{% block content %}

	<div class="full-width-container">
	<div class="row">
    <div class="offset-by-three six columns"><div class="pad-top-20"></div><div class="madras-text-back">
<h2>Password Reset</h2>
<p>Enter your email below for a password reset link:</p>
    <form action='' method="POST">{% csrf_token %}
<p>{{ form.as_p }}</p>
        <input class="button-primary" type="submit" value="Reset Password">
	</div></div></div></div><div class="pad_top-40"></div>
{% endblock %}